.cartButton {
  position: relative;
  display: flex;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cartButton:hover {
  background-color: #eceaea;
}

.cartCounter {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}