.cartList {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  list-style: none;
}

.cartProduct {
  border: 1px solid rgba(0,0,0,0.2);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  transition: background-color 0.3s;
  align-items: center;
}

.cartProduct:hover {
  background-color: #eee;
}

.cartProductName {
  flex: 1;
}

.removeCartButton {
  cursor: pointer;
  background-color: black;
  padding: 0.1rem 1rem;
  border-radius: 100%;
  color: white;
  font-size: 2rem;
}