.productList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.productItem {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,0.2);
  gap: 10px;
}

.productList p {
  flex: 1;
  text-align: center;
}

.addButton {
  cursor: pointer;
  border-radius: 100%;
  padding: 5px 11px;
  font-size: 1rem;
  font-weight: bold;
  background-color: black;
  color: white;
}